<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MovieDates">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieDates">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.AccessActivities.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

        <activity
            android:name=".view.AccessActivities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

        <activity
            android:name=".view.AccessActivities.GuestActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

        <activity
            android:name=".view.PagesActivities.RoomActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

        <activity
            android:name=".view.PagesActivities.GenresActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

        <activity
            android:name=".view.PagesActivities.PersonalSwipeActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

        <activity
            android:name=".view.PagesActivities.GroupSwipeActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

        <activity
            android:name=".view.PagesActivities.MatchActivity"
            android:exported="false"
            android:theme="@style/Theme.MovieDates" />

    </application>

</manifest>